* {
    font-family: 'Press Start 2P', cursive;
}

body {
}

.grid {
    /*display: grid;*/
    /*grid-template-columns: 200px 200px 200px;*/
    position: absolute;
    /*left: 50%;*/
    /*transform: translate(-50%, 0);*/
}

.top-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.board-column {
    float: left;
    margin-right: 10px;
    background-image: url("../img/cat2.jpg");
}

.right-column {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
}

.right-column #title {
    font-size: 12px;
}

.right-column p {
    font-size: 5px;
}

.game-board {
    border: solid 2px;
    float: left;

    background-size: 25px 100%;
    background-image: linear-gradient(to right,
    black 0%,
    transparent 5%,
    transparent 100%);
}

.play-button {
    background-color: #4caf50;
    font-size: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    bottom: 0px;
    position: absolute;
}

#pause-btn {
    font-size: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: none;
}

@media screen and (max-width: 768px) {
    .play-button {

    }
}
