* {
    font-family: 'Press Start 2P', cursive;
}

body {
}

.grid {
    /*display: grid;*/
    /*grid-template-columns: 200px 200px 200px;*/
    position: absolute;
    /*left: 50%;*/
    /*transform: translate(-50%, 0);*/
}

.top-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.board-column {
    float: left;
    margin-right: 10px;
    background-image: url("../img/jam.png");
    background-size: cover;
}

.right-column {
    display: grid;
    justify-content: space-between;
}

.board-score {
    list-style: none;
    padding-left: 0px;
    font-size: 8px;
    line-height: 2em;
}

.bottom-column {
    float: left;
    width: 400px;
}

.button-set1 {
    text-align: center;
    padding: 20px;
    float: left;
}

.button-set2 {
    padding-top: 40px;
    float: left;
}

.bottom-column2 {
    width: 90%;
    text-align: right;
}

.direct-button {
    width: 60px;
    height: 60px;
    background-color: darkgrey;
    opacity: 0.3;
}

.drop-button {
    width: 100px;
    height: 100px;
    background-color: darkgrey;
    opacity: 0.3;
}

.right-column #title {
    font-size: 12px;
}

.right-column p {
    font-size: 8px;
}

.game-board {
    border: solid 2px;
    float: left;

    background-size: 25px 100%;
    background-image: linear-gradient(to right, white 0%, transparent 5%, transparent 10%);
    opacity: 0.9;
}

.play-button {
    background-color: #4caf50;
    font-size: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    /*bottom: 0px;*/
    /*position: absolute;*/
}

.reset-button {
    background-color: #4caf50;
    font-size: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    color: crimson;
}

#pause-btn {
    font-size: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: none;
}

@media screen and (min-width: 768px) {
    .bottom-column2 {
        display: none;
    }

    .bottom-column {
        display: none;
    }

    .drop-button {
        display: none;
    }
}
